*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: white;
    color: black;
}

/* Header */

header{
    background-color: #4d4d4d;
    padding: 15px 40px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo h1{
    color: white;
    margin: 0;
}

nav ul{
    list-style: none;
    display: flex;
    gap: 25px;
    margin: 0;
    padding: 0;
}

nav a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

/* Search Section */

.search-section{
    padding: 50px 40px;
}

.search-section h2{
    color: black;
    margin-bottom: 25px;
}

.search-section form{
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.search-section input{
    padding: 12px;
    width: 220px;
    border: 1px solid #bfbfbf;
    border-radius: 5px;
}

.search-section button{
    background-color: #666666;
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 5px;
    cursor: pointer;
}

/* Promo Section */

.promo-section{
    text-align: center;
    padding: 30px;
}

.promo-section h2{
    color: black;
    margin-bottom: 15px;
}

.promo-section p{
    color: #444;
}

/* Cards */

.promo-cards{
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 40px;
    flex-wrap: wrap;
}

.Card{
    border: 1px solid #d9d9d9;
    width: 250px;
    padding: 25px;
    border-radius: 8px;
    background-color: white;
}

.Card h3{
    color: #555555;
}

/* Footer */

footer{
    background-color: #4d4d4d;

    text-align: center;

    padding: 20px;
}

.Footer-content p{
    color: white;

    margin: 5px 0;
}

.social-links{
    margin-top: 10px;
}

.social-links a{
    color:#ffd700;
    margin: 0 15px;
    text-decoration: none;
}

.accessibility{
    margin-top: 10px;
}

.accessibility a{
    color: #ffd700;
    text-decoration: none;

}


/*---------------------*/

/* Login Page */

.login-body{
    display: flex;

    justify-content: center;

    align-items: center;

    min-height: 100vh;

    background-color: white;
}


.login-box{
    width: 350px;
    padding: 40px;
    border: 1px solid #d9d9d9;
    border-radius: 10px;
    text-align: center;
    background-color: white;
}

.login-box h1{
    color: black;
    margin-bottom: 30px;
}

.login-box label{
    display: block;
    text-align: left;
    margin-bottom: 5px;
}

.login-box input{
    width: 92%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #bfbfbf;
    border-radius: 5px;
}

.login-box button{
    width: 100%;
    padding: 12px;
    background-color: #666666;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
}

.Buttons{
display: flex;
gap: 10px;
margin-top: 15px;
}
.Buttons{
    flex: 1;
}

